:root {
    --primary:  #9bf46b;
    --secondary: black;
    --thirdth: #fb0075;
    --fourth:#ff7f71;
    --fifth: #f9fbfd ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* body style*/
body {
    background-image: url('../images/audience0.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.moviealt{
  background-image: url('../images/cinema0.jpg');
}

/*header style*/

.header-nav {
    font-family: Helvetica;
    background-color: var(--secondary);
    padding: 20px 35px;  
    border-radius: 5px;
    color: var(--fifth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
    font-size: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}   

p {
  font-size: 1.5rem;
  align-content: flex-start;
}

.btn-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 20%;
}

.nav-row {
    display: flex;
    justify-content: space-between;
  }

.event-btn, .movie-btn {
    font-size: 1.5rem;
    text-decoration:none;
    padding: 4px;
    width: 100px;
    display:block;
    margin: 5px 0;
    border-radius: 5px;
    color: var(--primary);
    border: none;
    outline: none;
    background-color:transparent;
    transform: translate(-1px, -1px);
    justify-content: center;
  }

.event-btn:hover, .movie-btn:hover, .btn:hover {
    color: var(--secondary);
    background-color: var(--primary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--primary);
  }

/*main style  */

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
    margin: 80px auto;
    width: 90%;
    background-color: rgb(277, 277, 277,0.5); 

  }

 .container-desc{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.form-container {
    
    background-color: var(--secondary);
    border-radius: 5px;
    opacity: 5px;
    color: var(--sixth);
    box-shadow: 3px 3px var(--primary);
    width: 60%;
    text-align: center;
  }

 

  .city-input, .type-input, .movie-input, .movietype-input{
    padding: 12px 30px;
    display: inline-flex;
    font-size: 16px;
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255,255,255, 1);
    outline: none;
    border-radius: 15px;
  }

  .btn{
    font-size: 20px;
    padding: 15px;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 5px;
    color: var(--primary);
    border: none;
    outline: none;
    background-color: black;
    box-shadow: 0px 0px 1px 1px var(--fifth);
  }

  h3 {
    font-size: 30px;
      line-height: 1.25;
       color: var(--sixth);
      justify-content: center;
  }

  .center {
    font-size: 40px;
    text-align: center;
    color: var(--secondary);
    text-shadow: 0 0 10px var(--primary);   
    margin:50px;
  }
 
/*cards event and movie style */

h2 {
    font-size: 50px;
    color: var(--fifth);
    text-align: space-around;  
    margin-left: 10%; 
  }

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
}

 .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .cards{
    display: inline;
    position: relative;
    background-color: var(--secondary);
    opacity: 5px;
    color: var(--thirdth);
    justify-content: center;
    width: 25%;
    height: 10%;
    margin: 5px;
    text-align: center;

  }
  
  .cards h3 {
    color: var(--fifth);
    height: 100px;
    justify-content: center;
    margin: 15px auto;
  }

  .cards h4{
    font-size: 1.5rem;
  }
  
  .cards img {
    max-width: 100%;
  }
  .hidden {
    display:none;
  }

  
/*media query for smaller desktop screensand smaller*/

@media screen and (max-width: 980px) {
  header nav{
    padding-bottom: 0;
    justify-content: center;
  }

 main {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
 }

 .form-container{
width: 100%;
 }

 .cards{
   width: 40%;
 }

 .center{
   font-size: 30px;
 }

 /*media query for tablets and smaller*/

 @media screen and (max-width: 768px) {
   
  .cards{
    width: 90%;
  }
  .cards img {
    width: 80%;
   }

   @media screen and (max-width: 575px) {
   .center{
     font-size: 25px;
   }
  }
  }
}